p {
    text-shadow: 0px 0px 10px rgb(141, 141, 141);
}

.lineBreak {
  width: 90%;
  height: 1px;
  background-color: white;
  justify-self: center;
  margin: 3%;
}

.mainControlButton {
  width: 15%;
  height: 100%;
  background-color: rgb(43, 43, 43);
  border-style: solid;
  border-color: rgb(56, 56, 56);
  border-radius: 6px;
  display: flex;
  transition: 0.3s;
  cursor: pointer;
}

.brightEffect:hover {
  filter: brightness(130%);
}

.liftEffect:hover {
  transform: translateY(-3px);
}

.tabButton {
   width: 90%;
  height: 4%;
  border-radius: 6px;
  display: flex;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  border-style: none;
  background-color: rgb(43, 43, 43);
  transition: 0.2s;
  padding: 10px;
  margin-bottom: 2%;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}

.tabHolder {
  width: 70%;
  height: 100%;
  gap: 10px;
  display: flex;
}

.tabText {
    font-weight: 500;
  font-size: 1.5em;
  text-align: center;
  align-content: center;
    position: relative;
  top: -10%;
  color: white;
}

.tabIcon {
  width: 20px;
  height: 20px;
}

.tabClose {
  height: 20px;
  width: 20px;
  background-color: red;
  border-style: none;
  border-radius: 3px;
  transition: 0.3s;
}

.tabClose:hover {
  transform: scale(1.1,1.1);
}

.tabCloseText {
  color: white;
  font-weight: 900;
  height: 100%;
  width: 100%;
  position: relative;
  top: 3%;
  left: -8%;
}
